<div style="width: 100vw; height: 100vh; display: flex" *ngIf="isLoading">
  <div
    style="
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column-reverse;
    "
  >
    <app-loading-spinner
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      "
    ></app-loading-spinner>

    <h2
      *ngIf="justLoggedIn"
      style="display: flex; align-items: center; justify-content: center"
    >
      Switching your profile
    </h2>
    <h2
      *ngIf="!justLoggedIn"
      style="display: flex; align-items: center; justify-content: center"
    >
      Loading
    </h2>
  </div>
</div>

<div *ngIf="!isLoading" class="whole-container">
  <div class="container">
    <div class="post-form">
      <h2>Edit Auction Items</h2>
      <form (ngSubmit)="editItem()" #itemForm="ngForm">
        <div class="form-group">
          <label for="itemName">Item Name</label>
          <input
            type="text"
            id="itemName"
            name="itemName"
            [(ngModel)]="newItem.name"
            required
          />
        </div>
        <div class="form-group">
          <label for="itemDescription">Item Description</label>
          <textarea
            id="itemDescription"
            name="itemDescription"
            [(ngModel)]="newItem.description"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="startingPrice">Starting Price</label>
          <input
            type="number"
            id="startingPrice"
            name="startingPrice"
            [(ngModel)]="newItem.startingPrice"
            required
          />
        </div>
        <div class="form-group">
          <label for="selectedCategory">Select a Category:</label>
          <select
            id="selectedCategory"
            (change)="showSelectedCategory()"
            [(ngModel)]="newItem.category"
            name="selectedCategory"
            required
          >
            <option selected disabled>Select a Category</option>
            <option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </option>
          </select>
        </div>

        <button type="submit" [disabled]="!itemForm.valid">Edit Item</button>
      </form>
    </div>
  </div>
</div>
