/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: lato;
  src: url(/assets/fonts/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: sofia;
  src: url(/assets/fonts/SofiaSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: karla;
  src: url(/assets/fonts/Karla-Regular.ttf) format("truetype");
}
