<div class="whole-container" [@fadeInAnimation]="animationState">
  <div class="details-container">
    <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
      <label for="username">Name</label>
      <div id="username-privacy">
        <input
          type="text"
          id="username"
          formControlName="username"
          required
          readonly
        />
      </div>
      <label for="nickname">Username</label>
      <div id="username-privacy">
        <input
          type="text"
          id="nickname"
          formControlName="nickname"
          required
          readonly
        />
      </div>
      <label for="phone">Phone</label>
      <div id="phone-privacy">
        <input type="text" id="phone" formControlName="phone" required />
      </div>
      <label class="toggle col-3">
        <input
          class="privacy-slider"
          [checked]="!isPhonePrivate"
          (click)="togglePhonePrivacy()"
          class="toggle-checkbox"
          type="checkbox"
        />
        <div class="toggle-switch"></div>
        <span class="toggle-label">Public</span>
      </label>
      <label for="email">Email</label>
      <div id="email-privacy">
        <input
          type="email"
          id="email"
          formControlName="email"
          required
          readonly
        />
      </div>
      <label class="toggle col-3">
        <input
          class="privacy-slider"
          [checked]="!isEmailPrivate"
          (click)="toggleEmailPrivacy()"
          class="toggle-checkbox"
          type="checkbox"
        />
        <div class="toggle-switch"></div>
        <span class="toggle-label">Public</span>
      </label>
      <label for="upiId">UpiId</label>
      <div id="upiId-privacy">
        <input type="text" id="upiId" formControlName="upiId" required />
      </div>
      <label class="toggle col-3">
        <input
          class="privacy-slider"
          [checked]="!isUpiIdPrivate"
          (click)="toggleUpiIdPrivacy()"
          class="toggle-checkbox"
          type="checkbox"
        />
        <div class="toggle-switch"></div>
        <span class="toggle-label">Public</span>
      </label>
      <label for="address">Address:</label>
      <div id="address-privacy">
        <textarea id="address" formControlName="address" required></textarea>
      </div>
      <label class="toggle col-3">
        <input
          class="privacy-slider"
          [checked]="!isAddressPrivate"
          (click)="toggleAddressPrivacy()"
          class="toggle-checkbox"
          type="checkbox"
        />
        <div class="toggle-switch"></div>
        <span class="toggle-label">Public</span>
      </label>
      <br />
      <button
        type="submit"
        [disabled]="
          userDetailsForm.invalid || (!isPhoneVerified && !isEmailVerified)
        "
      >
        Submit
      </button>
      <button type="button" style="margin: 10px" (click)="verifyPhone()">
        Verify Phone Number
      </button>
      <button type="button" (click)="verifyEmail()">Verify Email</button>
    </form>
  </div>

  <app-otp-form
    [ngStyle]="{ position: 'absolute', display: open ? 'block' : 'none' }"
  ></app-otp-form>
</div>
