.main-container {
  max-width: 1440px;
  margin: 100px auto;
  padding: 15px;
  font-family: karla;
  font-size: 1rem;
}
label {
  margin-bottom: 10px;
}
.toggle {
  cursor: pointer;
  display: inline-block;
}

h1,
h2 {
  color: #971b22;
}

.toggle-switch {
  display: inline-block;
  background: red;
  border-radius: 16px;
  width: 60px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  transition: 0.25s;
  font-size: 12px;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 40px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  font-size: 14px;
  top: 2px;
}

.edit-input input {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 3%;
}

textarea {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 3%;
}

.main-container {
  max-width: 1440px;
  margin: 100px auto;
  padding: 15px;
}
.emp-profile {
  padding: 3%;
  border-radius: 0.5rem;
  background: linear-gradient(to top, rgba(255, 250, 240, 0.8) 0%, #e2e9ee 100%);
  margin-bottom: 1.5rem;
  max-width: 800px;
  border: 2px solid #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.profile-img {
  margin-bottom: 10px;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.profile-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.submit-btn {
  margin-top: 20px;
  font-family: karla;
  border: none;
  border-radius: 1rem;
  width: 120px;
  padding: 1%;
  font-weight: 600;
  background-color: #56c080;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #46a070;
}

.profile-tab label {
  font-weight: 500;
  font-family: karla;
  font-size: 1.15rem;
}
.profile-tab p {
  font-family: karla;
  font-size: 1rem;
}

.profile-edit-btn {
  font-family: karla;
  border: none;
  border-radius: 1rem;
  width: 120px;
  padding: 1%;
  background-color: #dea156;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
