<div class="whole-container" [@fadeInAnimation]="animationState">
  <!-- <button class="back-button" (click)="goBackToHome()">Back to Home</button> -->

  <div class="signin-container">
    <h2>Reset Password</h2>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" />
      <div
        class="invalid"
        *ngIf="username!.invalid && (username!.dirty || username!.touched)"
      >
        <div *ngIf="username!.errors!['required']">Username is required.</div>
        <!-- Add more validation messages as needed -->
      </div>

      <label for="oldPassword"> Old Password:</label>
      <!-- <input type="password" id="password" formControlName="password" /> -->
      <div class="passwordCheck">
        <input
          type="{{ showOldPassword ? 'text' : 'password' }}"
          id="oldPassword"
          formControlName="oldPassword"
        />
        <i
          class="material-icons password-icon"
          (click)="toggleOldPasswordVisibility()"
        >
          {{ showOldPassword ? "visibility" : "visibility_off" }}
        </i>
      </div>

      <label for="newPassword"> New Password:</label>
      <!-- <input type="password" id="password" formControlName="password" /> -->
      <div class="passwordCheck">
        <input
          type="{{ showNewPassword ? 'text' : 'password' }}"
          id="newPassword"
          formControlName="newPassword"
        />
        <i
          class="material-icons password-icon"
          (click)="toggleNewPasswordVisibility()"
        >
          {{ showNewPassword ? "visibility" : "visibility_off" }}
        </i>
      </div>

      <div
        class="invalid"
        *ngIf="
          newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)
        "
      >
        <div *ngIf="newPassword!.errors!['required']">
          Password is required.
        </div>
        <div *ngIf="(newPassword?.errors)!['minlength']">
          Password must be at least 6 characters.
        </div>
      </div>

      <button type="submit" [disabled]="signinForm.invalid">
        Reset Password
      </button>
    </form>
  </div>
</div>
