<div style="width: 100vw; height: 100vh; display: flex" *ngIf="isLoading">
  <div
    style="
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column-reverse;
    "
  >
    <app-loading-spinner
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      "
    ></app-loading-spinner>

    <h2 style="display: flex; align-items: center; justify-content: center">
      Loading
    </h2>
  </div>
</div>

<div *ngIf="!isLoading" class="main-container">
  <div class="container mt-5">
    <div class="row">
      <div class="tabs-card">
        <div class="tabs-card-header">
          <ul
            class="nav nav-tabs nav-tabs-neutral justify-content-center"
            role="tablist"
            data-background-color="orange"
          >
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="changeTab('home1')"
                role="tab"
                [class.active]="activeTab === 'home1'"
                >Live</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="changeTab('profile1')"
                role="tab"
                [class.active]="activeTab === 'profile1'"
                >Upcoming</a
              >
            </li>
            <div class="timer">{{ currentDateTime | date : "medium" }}</div>
          </ul>
        </div>

        <div class="tabs-card-body">
          <!-- Tab panes -->
          <div class="tab-content text-center">
            <div
              class="tab-pane"
              [class.active]="activeTab === 'home1'"
              id="home1"
              role="tabpanel"
            >
              <div class="container">
                <div class="d-lg-flex flex-wrap justify-content-evenly">
                  <div *ngFor="let auction of activeAuctions()">
                    <div class="card border-0 me-lg-4 mb-lg-0 mb-4">
                      <div class="backgroundEffect"></div>
                      <div class="pic">
                        <img class src="{{ auction.imageData }}" alt />
                        <div class="date">
                          <span class="day">Live</span>
                        </div>
                        <div class="price-tag">
                          <p>₹{{ auction.startingPrice }}</p>
                        </div>
                      </div>
                      <div class="content">
                        <p class="auction-title h-1 mt-4 text-start">
                          {{ auction.title | uppercase }}
                        </p>
                        <div class="row">
                          <div class="col-8">
                            <p class="admin text-start">
                              {{ auction.auctionId }}
                            </p>
                          </div>
                          <div class="col-4 text-end">
                            <p class="auction-details">
                              {{ auction.auctionStatus }}
                            </p>
                          </div>
                        </div>
                        <p>{{ auction.category }}</p>
                        <p class="text-muted mt-3 mb-3">
                          {{ auction.description }}
                        </p>
                        <div class="row mt-3">
                          <div class="col-7">
                            <p class="price">
                              <i class="fa-solid fa-file-signature"></i>
                              <span *ngIf="auction.auctionType == 'Paid'">
                                ₹{{ auction.registerFee }}</span
                              >
                              <span *ngIf="auction.auctionType != 'Paid'">
                                Free</span
                              >
                            </p>
                          </div>
                          <div class="col-5">
                            <p class="auction-details start-time">
                              <i class="fa-regular fa-clock"></i>
                              {{ auction.slot.startTime | customTimeFormat }} -
                              {{ auction.slot.endTime | customTimeFormat }}
                            </p>
                          </div>
                        </div>

                        <button
                          class="btn"
                          [disabled]="!isRegistered(auction.auctionId)"
                          (click)="takePart(auction)"
                        >
                          Take Part
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="tab-pane"
              [class.active]="activeTab === 'profile1'"
              id="profile1"
              role="tabpanel"
            >
              <div class="container">
                <div
                  *ngIf="auctions.length > 0; else noHistory"
                  class="auction-grid"
                >
                  <div class="d-lg-flex flex-wrap justify-content-evenly">
                    <div *ngFor="let auction of filteredAuctions()">
                      <div class="card border-0 me-lg-4 mb-lg-0 mb-4">
                        <div class="backgroundEffect"></div>
                        <div class="pic">
                          <img class src="{{ auction.imageData }}" alt />
                          <div class="date">
                            <span class="day">{{
                              auction.date | date : "d"
                            }}</span>
                            <span class="month">{{
                              auction.date | date : "MMMM"
                            }}</span>
                            <span class="year">{{
                              auction.date | date : "y"
                            }}</span>
                          </div>
                          <div class="price-tag">
                            <p>₹{{ auction.startingPrice }}</p>
                          </div>
                        </div>
                        <div class="content">
                          <p class="auction-title h-1 mt-4 text-start">
                            {{ auction.title | uppercase }}
                          </p>
                          <div class="row">
                            <div class="col-8">
                              <p class="admin text-start">
                                {{ auction.auctionId }}
                              </p>
                            </div>
                            <div class="col-4 text-end">
                              <p class="auction-details">
                                {{ auction.auctionStatus }}
                              </p>
                            </div>
                          </div>
                          <p>{{ auction.category }}</p>
                          <p class="text-muted mt-3 mb-3">
                            {{ auction.description }}
                          </p>
                          <div class="row mt-3">
                            <div class="col-7">
                              <p class="price">
                                <i class="fa-solid fa-file-signature"></i>
                                <span *ngIf="auction.auctionType == 'Paid'">
                                  ₹{{ auction.registerFee }}</span
                                >
                                <span *ngIf="auction.auctionType != 'Paid'">
                                  Free</span
                                >
                              </p>
                            </div>
                            <div class="col-5">
                              <p class="auction-details start-time">
                                <i class="fa-regular fa-clock"></i>
                                {{ auction.slot.startTime | customTimeFormat }}
                                -
                                {{ auction.slot.endTime | customTimeFormat }}
                              </p>
                            </div>
                          </div>

                          <div *ngIf="auctionStartTimes[auction.auctionId] > 0">
                            <p>
                              {{
                                formatTimeRemaining(
                                  auctionStartTimes[auction.auctionId]
                                )
                              }}
                            </p>
                          </div>
                          <p *ngIf="auction.auctionType == 'Paid'">
                            Paid Auction
                          </p>
                          <!-- <p *ngIf="auction.auctionType == 'Free'">
                            Free Auction
                          </p> -->
                          <div class="justify-content-center align-items-center">
                            <button
                              class="btn"
                              [ngStyle]="{
                    'background-color': isRegistered(auction.auctionId) ? 'gray' : '#11a86d',
                    color: 'white',
                    cursor: isRegistered(auction.auctionId) ? 'pointer' : 'allowed',
                  }"
                              [disabled]="isRegistered(auction.auctionId)"
                              (click)="register(auction)"
                            >
                              Register
                            </button>
                            <button
                              class="btn"
                              style="margin-left: 10px"
                              [ngStyle]="{
                      'background-color': !isRegistered(auction.auctionId) ? 'gray' : '#cf0025',
                      'color': 'white',
                      'cursor': !isRegistered(auction.auctionId) ? 'not-allowed' : 'pointer',
                    }"
                              [disabled]="!isRegistered(auction.auctionId)"
                              (click)="unregister(auction)"
                            >
                              UnRegister
                            </button>
                          </div>
                          <app-pagination
                            [pageSize]="pageSize"
                            [totalItems]="totalItems"
                            [currentPage]="currentPage"
                            (pageChange)="onPageChange($event)"
                          ></app-pagination>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noHistory>
                  <p>No upcoming auction available.</p>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
